.hero-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  padding: 0 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* ✅ ubah angka ini untuk gelap/terang */
  z-index: 0;
}
