.navbar {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;

  min-height: 90px !important;
}

.navbar.top {
  background-color: rgba(255, 255, 255, 1);
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-link {
  position: relative;
  font-weight: 500;
  margin: 0 15px;
  padding-bottom: 5px;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #000;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
