.visi-misi-section {
  background-color: #f1f5f9;
  padding-top: 10rem;
}

.card {
  border-radius: 15px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 2.5rem;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.card-text {
  font-size: 1.1rem;
  color: #6c757d;
  line-height: 1.6;
  text-align: justify;
}

.d-flex {
  justify-content: flex-start;
}
.icon-spacing {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .visi-misi-section {
    padding-top: 7rem;
  }

  .card-title {
    font-size: 1.6rem;
  }

  .card-text {
    font-size: 1rem;
  }
}

.text-primary {
  color: #007bff !important;
}

.text-success {
  color: #28a745 !important;
}
